* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Layout */

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 550px;
  height: auto;
  background-color: #1f2937;
  padding: 1.5em;
  color: #fff;
  border-radius: 1em;
}

.container > * {
  margin: 0.5em 0;
}

.password-length {
  margin: 2em 0;
}
.password-length > * {
  margin: 1em 0;
}

button {
  background-color: #10b981;
  padding: 0.5em 1em;
  border: none;
  color: inherit;
  font-size: 0.8rem;
  border-radius: 0.2em;
  cursor: pointer;
}

#error {
  color: #10b981;
  margin: 0;
}

hr {
  opacity: 0.1;
}

input {
  outline: none;
}

.passwords {
  display: flex;
  justify-content: space-between;
}

.active {
  padding: 0.5em 1em;
  background-color: #10b981;
  color: #1f2937;
  font-size: 1rem;
}

.inactive {
    background-color: #1f2937;
}

/* Typography */
span {
  color: #10b981;
}

h1 {
  font-weight: 700;
}
